<h1>Bookmarks</h1>

<p><a href="/bookmarknew">Add a Bookmark</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <ul>
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <li><% @bookmarks.name %></li>
          <a href="/<%= bookmark.id %>/bookmark">Show</a>
        
      <td><a href="/<%= bookmark.id %>/edit">Edit</a></td>
      <td><a href="/<%= bookmark.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </ul>
</table>