<div>
  <strong>Bookmark</strong><br />
  <p><%= @b.name %></p>
</div>
<div>
  <p><%= @b.description %></p>
</div>

<a href="/<%= @b.id %>/editbookmark">Edit</a> |
<a href="/<%= @b.id %>/destroybookmark">Destroy</a>