<div>
  <strong>Bookmark</strong><br />
  <p><%= @bookmark.name %></p>
</div>
<div>
  <p><%= @bookmark.description %></p>
</div>

<a href="/users/<%= @b.id %>/editbookmark">Edit</a> |
<a href="/users/<%= @b.id %>/destroybookmark">Destroy</a>